body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.admin-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  background: #2c3e50;
  color: white;
  padding: 20px;
}

.sidebar h2 {
  text-align: center;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.sidebar li:hover {
  background: #34495e;
}

.content {
  flex: 1;
  padding: 20px;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  text-align: center;
}

th {
  background: #34495e;
  color: white;
}

td, th {
  padding: 8px;
}

button {
  background: #3498db;
  color: white;
  border: none;
  padding: 5px 10px;
  margin: 2px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background: #2980b9;
}