.cart-detail {
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    z-index: 3;
    display: none;
    overflow-y: auto;
    width: 100%;
}

.no-scroll {
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

.cart-detail-header {
    background: #12283e;
    color: #00ff00;
    height: 80px;
    padding-left: 80px;
    display: flex;
    align-items: flex-end;
    position: relative;
}

.back-btn {
    left: 50%;
    transform: translateX(-50%);
    background: none;
    border: none;
    color: #00ff00;
    font-size: 2.3rem;
    cursor: pointer;
    width: 50px;
    height: 50px;
    margin: auto 0;
}

.cart-detail-header-title {
    left: 50%;
    transform: translateX(-50%);
    position: absolute; 
    font-size: 2.5rem;
    font-weight: 600;
}

.cart-detail-container {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.cart-detail-table {
    max-width: 1180px;
    width: 100%;
    background-color: #fff;
    border-collapse: collapse;
    box-shadow: 0 0 5px rgba(0 ,0 ,0 , 0.2);
}

.cart-detail-table thead {
    background-color: #f8f8f8;
    border-bottom: 2px solid rgba(0 ,0 ,0 , 0.1);
}

.cart-detail-table th {
    padding: 15px 10px;
    text-align: start;
    font-weight: 600;
    color: #333;
    font-size: 1.7rem;
}

.cart-detail-table td {
    padding: 15px 10px;
    text-align: start;
    border-bottom: 1px solid #f0f0f0;
}

.cart-detail-remove-btn {
    background: none;
    border: none;
    color: rgba(0 ,0 ,0 , 0.6);
    font-size: 1.8rem;
    cursor: pointer;
    padding-left: 25px;
    margin: auto 0;
}

.cart-detail-product-img {
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.cart-detail-product-name {
    font-size: 1.6rem;
    color: #333;
}

.cart-detail-price {
    color: red;
}

.cart-detail-quantity input {
    height: 30px;
    width: 30px;
    text-align: center;
    border-radius: 0;
    padding: 1px;
    border: 1px solid #333;
    margin: auto 5px;
    background: #fff;
    font-size: 1.3rem;
}

.cart-detail-total {
    max-width: 1180px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    font-size: 1.8rem;
    color: #333;
    font-weight: 600;
}

.cart-detail-total-price {
    margin-left: 10px;
    color: red;
}

.cart-detail-bottom {
    display: flex;
    justify-content: flex-end;
    max-width: 1180px;
    width: 100%;
}

.checkout-btn {
    background-color: #12283e;
    color: #fff;
    border: none;
    padding: 10px 25px;
    font-size: 1.6rem;
    cursor: pointer;
    width: 150px;
    border-radius: 0;
    margin-top: 10px;
}

.checkout-btn:hover {
    color: #00ff00;
}