/* .payment {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #fff;
    z-index: 1;
    width: 100%;
    display: flex;
}



.payment-left {
    margin-top: 80px;
    width: 50%
}

.payment-left-container {
}

.payment-right {
    margin-top: 80px;
    width: 50%;
}
 */
