* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #f4fbfc, #e0f8fd);
}

.container {
    margin: 0 15px;
}

.form-box {
    width: 100%;
    max-width: 450px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    background-color: #fff;
}

h2 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 30px;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: #eee;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 12px;  
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    background-color: #007bff;
    color: #fff;
    transition: 0.5s;
}

button:hover {
    background-color: #0070e8;
}

p {
    font-size: 14px;
    margin-bottom: 10px;
}

p a {
    color: #007bff;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}