* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    --dark-navy-blue: #12283e;
    --bright-green: #00ff00;
    --bright-green-d: #00b100;
    --bright-green-l: #f0fff0;
    --gray-d: #333333;
    --gray-l: #e3e3e3;
    --ivory: #FFFFF0;
}

body {
    font-size: 1.6rem;
    font-family: "Nunito Sans", sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* ==== header === */
header {
    background: var(--dark-navy-blue);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    box-shadow: 0 0 2px rgba(0, 0, 0,1);
    height: 80px;
    z-index: 2;
}

.header-content {
    height: 80px;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
}

.header-body {
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 80px;
}

.nav_bars {
    display: none;
    font-size: 2rem;
}

.nav_bars a {
    color: var(--gray-d);
}

.logo {
    width: 150px;
    height: 100px;
}

.nav ul, .action ul {
    display: flex;
    white-space: nowrap; /*không cho text xuống dòng*/
}

.nav a {
    color: #fff;
    font-size: 2rem;
    padding: 0 20px;
}

.nav .active {
    color: var(--bright-green);
}

.nav a:hover {
    cursor: pointer;
    color: var(--bright-green);
    transition: .5s;
}

/* đăng nhập, đăng ký, giỏ hàng */

.action ul {
    align-items: center;
}

.user-section {
    display: flex;
    align-items: center;

}

.user-links {
    display: flex;
    flex-direction: column;
}

.icon {
    font-size: 2.5rem;
    margin: 0 2px;
    color: #fff;
}

.btn {
    font-size: 1.6rem;
    margin-right: 15px;
    color: #fff;
}

/* tìm kiếm */
.search-bar {
    display: flex;
    margin-top: 22px;
}

.basic-search {
    height: 42px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #e4e4e4;
}

.basic-btn {
    height: 42px;
    width: 58px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #e4e4e4;
    color: var(--gray-d);
}

/* bộ lọc */
.search-filter {
    margin: 8px 0;
    padding: 6px 8px;
    color: var(--gray-d);
}

.search-filter-item {
    display: flex;
}

.search-filter-item label {
    font-size: 1.5rem;
    cursor: pointer;
}

.search-filter-item input {
    width: 13px;
    margin-right: 10px;
    cursor: pointer;
    margin-top: 4px;
    accent-color: var(--bright-green);
}

/* === container === */
.container {
    margin-top: 80px;
    background-color: rgba(0, 0, 0, 0.05);
}

.container-main {
    padding: 20px 0;
    width: 1400px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
}

/* = container top = */
.container-top {
    width: 100%;
    height: 40px;
    background-color: var(--bright-green);
}

.container-top-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}

.container-top-item {
    display: flex;

}

.container-top-item i {
    font-size: 1.4rem;
    margin-right: 5px;
    padding-top: 3px;
    color: var(--gray-d);
}

.container-top-item p {
    font-size: 1.4rem;
    color: var(--gray-d);

}

/* = Slider = */
.slider {
    padding-top: 20px;
}

.slider-container {
    position: relative;
    overflow: hidden;
    max-width: 1180px;
    margin: 0 auto;
}

.slider-content {
    display: flex;
    transition: transform .5s ease-in-out;
}

.slider-item {
    min-width: 100%;
}

.slider-item img {
    width: 100%;
    object-fit: cover;
    display: block;
    cursor: pointer;
}

.slider-item-btn {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    padding: 0 10px;
    pointer-events: auto;
}

.slider-item-btn i {
    color: #fff;
    font-size: 2.5rem;
    cursor: pointer;
}

.slider-item-btn i:hover {
    color: var(--bright-green);
}

/* = container title = */
.container-title {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    width: 100%;
}

.container-title-content {
    width: 100%;
    max-width: 1180px;
}

.container-title p{
    font-weight: 700;
    font-size: 2rem;
    border-left: 5px solid var(--bright-green);
    padding-left: 5px;
    padding-top: 5px;
}

/* = container left = */
.container-left {
    padding: 0 5px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    width: 25%;
}

/* category */
.category {
    background-color: #fff;
    border-radius: 2px;
    display: block;
    padding: 0 5px;
}

.category h3{
    font-size: 1.8rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    padding: 18px 24px;
    font-weight: 600;
    color: var(--gray-d);
    text-align: center;
}

.category-item {
    padding: 8px 24px;
    margin-bottom: 10px;
}

.category-list {
    font-size: 1.5rem;
    color: var(--gray-d);
    display: block;
    margin: 8px 0;
    padding: 6px 8px;
    cursor: pointer;
    transition: all 0.2s ease; 
}

.category-list:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.category-list.active {
    font-weight: bold;
    color: var(--bright-green);
    background-color: var(--bright-green-l);
    border-left: 3px solid  var(--bright-green);
}

/* == container right == */
.no-product {
    display: none;
    margin: 5px 10px;
}

.no-product p {
    color: var(--gray-d);
    font-size: 1.6rem;
}

.no-sidebar .container-right{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.container-right {
    padding: 0 5px;
    width: 75%;
}

/* product */
.product {
    display: flex;
    flex-wrap: wrap;
}

.product-list {
    padding: 0 5px;
    cursor: pointer;
    width: 20%;
}

.product-item {
    background-color: #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    border-radius: 2px;
    cursor: pointer;
}

.product-img {
    width: 100%;
    height: auto;
}

.product-name {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--gray-d);
    line-height: 1.8rem;
    height: 3.6rem;
    margin: 10px 5px;
    overflow: hidden;
}

.product-company {
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.5);
    margin: 0 5px 10px 5px;
    white-space: nowrap;
}

.price {
    font-size: 1.5rem;
    margin: 0 5px;
    padding-bottom: 10px;
}

.price-old {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: line-through;
}

.price-current {
    color: red;
}

/* Chi tiết sản phẩm */
.product-detail {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: none;
}

.product-detail-container {
    position: relative;
    background-color: #fff;
    width: 100%;
    max-width: 1000px;
    height: 500px;
    padding: 25px;
    border-radius: 5px;
    display: flex;
}

.close {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    color: var(--gray-d);
}

.product-detail-container img {
    width: 50%;
    height: auto;
    margin-right: 25px;
}

.product-info {
    width: 50%;
}

.product-info .product-company {
    margin: 20px 5px;
}

.product-info .product-name {
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.5rem;
    height: 5rem;
}

.product-size {
    display: flex;
    margin: 20px 5px;
}

.product-size label,
.product-quantity label {
    margin-right: 10px;
    padding-top: 3px;
}

.product-size select,
.product-quantity input {
    padding: 5px;
}


.product-quantity {
    display: flex;
    margin: 20px 5px;
}

.product-quantity input {
    width: 100px;
}

.product-buttons {
    display: flex;
    margin: 25px 0;
}

.product-buttons button {
    margin: 0 5px;
    border-radius: 0;
}

.buy-now {
    font-size: 1.4rem;
}

.buy-now:hover {
    color: var(--bright-green);
}

.add-cart {
    font-size: 1.4rem;
    background-color: #fff;
    color: var(--gray-d);
    border: 2px solid rgba(0, 0, 0, 0.3);
}

.add-cart:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

/* footer */
.footer {   
    background: var(--gray-d);
    color: #fff;
    font-size: 1.5rem;
    height: 40px;
}

.footer-list {
    padding: 10px 0 0 20px;
    line-height: 20px;
    text-align: center;
}

.footer-list a {
    color: #fff;
    text-decoration: underline;
}

/* Mobile and Tablet: width < 1024px */
@media only screen and (max-width: 1023px) {

}

/* Mobile: width < 740px */
@media only screen and (max-width: 739px) {
    /* header */
    .nav {
        position: fixed;
        top: 100px;
        right: 300px;
        bottom: 0;
        left: 0;
        background: #fff;
        display: none;
    }

    .nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .nav a {
        color: var(--gray-d);
        display: flex;
        padding: 5px;
        font-size: 1.7rem;
    }

    .action {
        margin-left: auto;
    }

    .btn {
        display: none;
    }

    .nav_bars {
        display: block;
    }

    .icon {
        margin: 0 5px;
    }

    /* container */
    .container-right {
        width: 100%
    }
    
    .product-list {
        width: 50%;
    }

    .container-left {
        display: none;
    }
}
/* Tablet: width >= 740px and width < 1024px */
@media only screen and (min-width: 740px) and (max-width: 1023px) {
    /* container */
    .product-list {
        width: 25%;
    }
}