* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

/* :root {
} */

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif; /*kiểu chữ*/
}

a {
    text-decoration: none; /* bỏ gạch chân thẻ a */
}

ul {
    list-style: none;
}

/* ==== header === */
header {
    background: linear-gradient(135deg, #98d4fe, #3b98fb);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.header-content {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
}

.header-body {
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.nav_bars {
    display: none;
    font-size: 2rem;
}

.nav_bars a {
    color: #333;
}

.logo {
    width: 150px;
    height: 100px;
}

.nav ul, .action ul {
    display: flex;
    white-space: nowrap; /*không cho text xuống dòng*/
}

.nav a {
    color: #fff;
    font-size: 2rem;
    padding: 0 20px;
}

.nav a:hover {
    cursor: pointer;
    color: #333;
    text-shadow: 0 0 1px currentColor;
    transition: 1s; 
}

.action {
    font-size: 2rem;
}

.icon {
    margin: 0 2px;
    color: #333;
}

.btn {
    margin-right: 15px;
    color: #333;
}

/* === container === */
.container {
    margin-top: 100px;
    background-color: rgba(0, 0, 0, 0.05);
}

.container-main {
    padding: 20px 0;
    width: 1400px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
}

/* == container left == */
.container-left {
    padding: 0 5px;
    width: 16.6667%;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

/* category */
.category {
    background-color: white;
    border-radius: 2px;
    display: block;
    padding: 0 5px;
}

.category h3{
    font-size: 1.8rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    padding: 18px 24px;
    font-weight: 600;
    color: #333;
    text-align: center;
}

.category-item {
    padding: 8px 24px;
}

.category-list {
    font-size: 1.5rem;
    color: #333;
    display: block;
    margin: 8px 0;
    padding: 6px 8px;
    cursor: pointer;
    transition: all 0.2s ease; 
}

.category-list:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.category-list.active {
    font-weight: bold;
    color:  #3b98fb;
    background-color: #e9f2ff;
    border-left: 3px solid  #3b98fb;

}

/* == container right == */
.container-right {
    padding: 0 5px;
    width: 83.3333%;
}

/* product */
.product {
    display: flex;
    flex-wrap: wrap;
}

.product-list {
    padding: 0 5px;
    width: 20%;
    cursor: pointer;
}

.product-item {
    background-color: white;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    border-radius: 2px;
    cursor: pointer;
}

.product-img {
    width: 100%;
    height: auto;
}

.product-name {
    font-size: 1.6rem;
    font-weight: 500;
    color: #333;
    line-height: 1.8rem;
    height: 3.6rem;
    margin: 10px 5px;
    overflow: hidden;
}

.product-company {
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.5);
    margin: 0 5px 10px 5px;
    white-space: nowrap;
}

.price {
    font-size: 1.5rem;
    margin: 0 5px;
    padding-bottom: 10px;
}

.price-old {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: line-through;
}

.price-current {
    color: red;
}

/* Chi tiết sản phẩm */
.product-detail {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: none;
}

.product-detail-container {
    position: relative;
    background-color: #fff;
    width: 100%;
    max-width: 1000px;
    height: 500px;
    padding: 25px;
    border-radius: 5px;
    display: flex;
}

.close {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    color: #333;
}

.product-detail-container img {
    width: 50%;
    height: auto;
    margin-right: 25px;
}

.product-info {
    width: 50%;
}

.product-info .product-company {
    margin: 20px 5px;
}

.product-info .product-name {
    font-weight: 600;
    font-size: 2rem;
}

.product-size {
    display: flex;
    margin: 20px 5px;
}

.product-size label,
.product-quantity label {
    margin-right: 10px;
    padding-top: 3px;
}

.product-size select,
.product-quantity input {
    padding: 5px;
}


.product-quantity {
    display: flex;
    margin: 20px 5px;
}

.product-quantity input {
    width: 100px;
}

.product-buttons {
    display: flex;
    margin: 25px 0;
}

.product-buttons button {
    margin: 0 5px;
    border-radius: 0;
}

.buy-now {
    font-size: 1.4rem;
}

.add-cart {
    font-size: 1.4rem;
    background-color: #fff;
    color: #333;
    border: 2px solid rgba(0, 0, 0, 0.3);
}

.add-cart:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

/* footer */
.footer {
    background: #333;
    color: #fff;
    font-size: 1.5rem;
    height: 100px;
}

.footer-list {
    padding: 10px 0 0 20px;
    line-height: 20px;
}

.footer-list a {
    color: #fff;
    text-decoration: underline;
}

/* Mobile and Tablet: width < 1024px */
@media only screen and (max-width: 1023px) {

}

/* Mobile: width < 740px */
@media only screen and (max-width: 739px) {
    /* header */
    .nav {
        position: fixed;
        top: 100px;
        right: 300px;
        bottom: 0;
        left: 0;
        background: #fff;
        display: none;
    }

    .nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .nav a {
        color: #333;
        display: flex;
        padding: 5px;
        font-size: 1.7rem;
    }

    .action {
        margin-left: auto;
    }

    .btn {
        display: none;
    }

    .nav_bars {
        display: block;
    }

    .icon {
        margin: 0 5px;
    }

    /* container */
    .container-right {
        width: 100%
    }
    
    .product-list {
        width: 50%;
    }

    .container-left {
        display: none;
    }
}
/* Tablet: width >= 740px and width < 1024px */
@media only screen and (min-width: 740px) and (max-width: 1023px) {
    /* container */
    .product-list {
        width: 25%;
    }
}